.para1{
    font-family: 'Satisfy', cursive;
    font-size: 38px;
}

.cp{
   
    font-size: 18px;
    padding-left: 20px;
}
img{
    height: 88%;
    width: 80%;
    border-radius: 5%;
}
.container-contact{
    display: flex;
    padding: 10px;
    
}